In [1]:
import pandas as pd

In [2]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Applied-Artificial-Intelligence-Workshop/master/Datasets/german_credit.csv'

In [3]:
df = pd.read_csv(file_url)

In [4]:
from sklearn import preprocessing

In [5]:
def fit_encoder(dataframe, column):
    encoder = preprocessing.LabelEncoder()
    encoder.fit(dataframe[column].unique())
    return encoder

In [6]:
def encode(dataframe, column, encoder):
    return encoder.transform(dataframe[column])

In [7]:
cat_df = df.select_dtypes(exclude='number')
cat_df.head()

,account_check_status,credit_history,purpose,savings,present_emp_since,other_debtors,property,other_installment_plans,housing,job,telephone,foreign_worker
0,< 0 DM,critical account/ other credits existing (not ...,domestic appliances,unknown/ no savings account,.. >= 7 years,none,real estate,none,own,skilled employee / official,"yes, registered under the customers name",yes
1,0 <= ... < 200 DM,existing credits paid back duly till now,domestic appliances,... < 100 DM,1 <= ... < 4 years,none,real estate,none,own,skilled employee / official,none,yes
2,no checking account,critical account/ other credits existing (not ...,(vacation - does not exist?),... < 100 DM,4 <= ... < 7 years,none,real estate,none,own,unskilled - resident,none,yes
3,< 0 DM,existing credits paid back duly till now,radio/television,... < 100 DM,4 <= ... < 7 years,guarantor,if not A121 : building society savings agreeme...,none,for free,skilled employee / official,none,yes
4,< 0 DM,delay in paying off in the past,car (new),... < 100 DM,1 <= ... < 4 years,none,unknown / no property,none,for free,skilled employee / official,none,yes

In [8]:
cat_cols = cat_df.columns
cat_cols

Index(['account_check_status', 'credit_history', 'purpose', 'savings',
       'present_emp_since', 'other_debtors', 'property',
       'other_installment_plans', 'housing', 'job', 'telephone',
       'foreign_worker'],
      dtype='object')

In [9]:
for col in cat_cols:
    label_encoder = fit_encoder(df, col)
    df[col] = encode(df, col, label_encoder)

In [10]:
df.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,other_debtors,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,1,6,1,4,1169,4,0,4,2,4,2,67,1,1,2,1,1,1,1
1,1,0,48,3,4,5951,1,2,2,2,2,2,22,1,1,1,1,1,0,1
2,0,3,12,1,0,2096,1,3,2,2,3,2,49,1,1,1,3,2,0,1
3,0,1,42,3,7,7882,1,3,2,1,4,0,45,1,0,1,1,2,0,1
4,1,1,24,2,2,4870,1,2,3,2,4,3,53,1,0,2,1,2,0,1